:root.theme-dark {
  /*Цвета*/
  --color-background: #000028;
  --color-brand-title: #db00ff;
  --color-card-text: #f1b2ce;
  --color-decor: #ff0070;
  --color-decor-title: #000028;
  --color-decor-title-background: #ff0070;
  --color-menu: #ff0070;
  --color-menu-outline-hover: rgb(255 0 112 / 0.4);
  --color-section-title: #ff0070;
  --color-shadow: #ff0070;

  /*Фон*/
  --image-background: url(../images/cover-image-dark.png);
}

.theme-dark .header__decor-text {
  display: flex;
}
