@media (prefers-color-scheme: light) {
  :root {
    /*Цвета*/
    --color-background: #fff1f7;
    --color-brand-title: #ffc2e6;
    --color-card-text: #353430;
    --color-decor: #353430;
    --color-decor-title: #353430;
    --color-decor-title-background: #ff8dcb;
    --color-menu: #353430;
    --color-menu-outline-hover: rgb(53 52 48 / 0.4);
    --color-section-title: #353430;
    --color-shadow: #ff8dcb;

    /*Фон*/
    --image-background: url(../images/cover-image-light.png);
  }

  .header__decor-text {
    display: none;
  }
}

:root.theme-light {
  /*Цвета*/
  --color-background: #fff1f7;
  --color-brand-title: #ffc2e6;
  --color-card-text: #353430;
  --color-decor: #353430;
  --color-decor-title: #353430;
  --color-decor-title-background: #ff8dcb;
  --color-menu: #353430;
  --color-menu-outline-hover: rgb(53 52 48 / 0.4);
  --color-section-title: #353430;
  --color-shadow: #ff8dcb;

  /*Фон*/
  --image-background: url(../images/cover-image-light.png);
}

.theme-light .header__decor-text {
  display: none;
}
